// Define variables for your color scheme

// For example:
$red: #af070a;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #168500;
$gray: #0E0000;
$light-gray: #F4F4F4;
$middle-gray: #E7E7E7;
$dark-gray: #C0C0C0;

$dark-blue: #000814;
$oxford-blue: #001D3D;
$prussian-blue: #003566;
$prussian-light: #E2F1FF;
$mikado-yellow: #FFC300;
$mikado-light: #FFE592;
$golden-yellow: #FFD60A;
$ecru: #F9F5E7;
