.fa-hand-holding-heart::before {
  color: $oxford-blue
}

.fa-calendar::before {
  color: $oxford-blue
}

.fa-location-dot {
  color: $oxford-blue
}

.mapboxgl-canvas {
  border-radius: 15px;
}

.back-link {
  text-decoration: none;
  color: $mikado-light
}

.fa-arrow-rotate-left {
  color: $mikado-light
}
