a {
  text-decoration: none;
  color: $oxford-blue;
}

.nav-tabs {
  border-color: transparent;
  position: sticky;
  top: 0;
}

.nav-link {
  color: $prussian-blue;
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: $prussian-blue;
  color: $prussian-blue;
}

.fa-pen {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.fa-eye {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.fa-check {
  color: $green;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: larger;
}

.fa-xmark {
  color: $red;
  position: absolute;
  bottom: 0.3rem;
  right: 0.8rem;
  font-size: larger;
}

.list-group {
  flex-grow: 1;
}
