<div class="white-card px-4">
  <% if @request.item_id? == false %>
    <h3 class="my-4"> Votre produit n'est pas encore disponible. </h3>
    <p class="mb-4"> Ne vous inquiétez pas, votre demande a bien été enregistrée par la ressourcerie Le Poule. </p>
    <p class="mb-4"> Nous vous enverrons un message dès que nous recevons le produit que vous cherchez. </p>
    <h3 class="mb-4"> N'oubliez pas de consulter votre messagerie régulièrement ! </h3>
    <p class="mb-4"> A très vite ! </p>
    <%= link_to "Retour au Tableau de bord", dashboard_path %>
    <br>
    <%= link_to "Retour à la Messagerie", "/chatrooms/2_path" %>
  <% else %>

  <h3> Bonne nouvelle ! </h3>
  <h3> Nous avons ce dont vous avez besoin ! </h3>
  <p> Faites votre choix puis sélectionnez votre option de retrait. </p>
  <h3> Produits disponibles : </h3>
    <% @items.each do |item| %>
      <% item.photo %>
      <% item.name %>
    <% end %>
  <% end %>
</div>
