<h1>Bienvenue sur la Main Tendue</h1>
<h2>Je m'appelle Robert, Gros...Gros Robert hihi</h2>
<h3>Je m'appelle Michelle et je suis donatrice</h3>
<p>Find me in app/views/pages/home.html.erb</p>

<button type="button" class="btn">Mon Espace</button>

<%= link_to "Espace donateur", dashboard_path %>
<br>
<%= link_to "Espace demandeur", "/requests/new" %>
