.btn {
  background-color: $mikado-light;
  width: 150px;
  border-radius: 30px;
  box-shadow: 1px 1px 1px 0.5px $dark-gray;
}

.btn:hover {
  background-color: $mikado-yellow;
  font-weight: 800;
  transition-duration: 0.03s;
}
