.white-card {
  background-color: rgba(249, 245, 231, 0.7);
  border-radius: 2rem;
  margin: 1rem;
  height: 70%;
  padding: 1rem;
}

.grid-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-row: 1;
}

.card-small {
  width: 100%;
  &.selected {
    border: 3px solid $mikado-yellow;
    border-radius: 10px;
  }
}

.card-small img {
  object-fit: cover;
  width: 100%;
}
