.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 39px;
  height: 39px;
  // margin-top: 4px;
}

.navbar-lewagon .navbar-brand #nav-bar-text {
  width: 21px;
  margin-left: 9px;
  height: 22px;
  // margin-top: 10px;
  margin-right: 5px;
  font-size: 14px;
  margin-bottom: 0px;
  align-content: center;
}

#msg-nb {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: $oxford-blue;
}


//make login image and name dynamic
